#header{background-color: rgba(255, 224, 73, 0.5);

}
#header a{color: #34403d;}
/*#header{background-color: rgb(255, 106, 95);  } #header a{color: rgb(255, 255, 255);}*/
.box{
    position:relative;

    /*border:1px solid #ffff00;*/
}

body{
    font-family: 'Roboto Medium';
    font-weight: 400;
    font-size:1.5em;
}
.unreg{
    background-image: url('../images/background.jpg');
    background-size: cover;
}
.unreg .container{
    margin-top:5em;
}
#container{
    /*border: 1px solid red;*/
    margin-left:220px;
}
.color {
    height: 170px;
    width: 170px;
    border-radius: 75px;
    border: none;
    /*background-color: #e6ff81;*/
}
.color:hover{
    cursor:pointer;
}
#red{
    background-color: #ff6857;
    position:absolute;
    margin-top:0px;
    margin-left:0px;
}
#orange{
    background-color: #FFB153;
    position:absolute;
    margin-top:90px;
    margin-left:140px;
}
#yellow{
    background-color: #ffdf0e;
    position:absolute;
    margin-top:235px;
    margin-left:220px;
}
#green{
    background-color: #97CC1B;
    position:absolute;
    margin-top:380px;
    margin-left:140px;
}
#azure{
    background-color: #1AD0FF;
    position:absolute;
    margin-top:475px;
    margin-left:0px;
}
#blue{
    background-color: #0080FF;
    position:absolute;
    margin-top:380px;
    margin-left:-140px;
}


#purple{
    background-color: #8000FF;
    position:absolute;
    margin-top:235px;
    margin-left:-220px;
}
#custom{
    background:url(/images/leprecon.jpg) 50% 50% no-repeat;
    position:absolute;
    margin-top:90px;
    margin-left:-140px;
    border: 1px solid grey;
    z-index: -1;
}

/*Current Bets*/
#bets th,td{
border:1px solid #cbcdd6;padding:5px;}

.unreg #myTabContent .tab-pane, .unreg #myTabContent .tab-pane label{
    background-color: #2c3e50;
    color:white;
    padding:15px;
    font-weight: 300;
}

.unreg #myTabs li a{
    color:white;
    background-color: #18bc9c;
}

.unreg #myTabs .active a{
    color:#18bc9c;
    background-color: white;
}

.unreg #myTabContent .tab-pane{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}