#header{background-color: rgba(255, 224, 73, 0.5);

}
#header a{color: #34403d;}
/*#header{background-color: rgb(255, 106, 95);  } #header a{color: rgb(255, 255, 255);}*/
.box{
    position:relative;

    /*border:1px solid #ffff00;*/
}

body{
    font-family: 'Roboto Medium';
    font-weight: 400;
    font-size:1.5em;
}
#my_balance{
    background-color: #3498db;
    padding: 19.5px;
    color:white;
    font-weight: 600;
}

.unreg{
    background-image: url('../images/background.jpg');
    background-size: cover;
}
.unreg .container{
    margin-top:5em;
}
#container{
    /*border: 1px solid red;*/
    margin-left:220px;
}
.color {
    border-radius:100%;
    height:6em;
    width:6em;
    display:inline-block;
    color:white;
    font-size:1em;
    font-weight: 600;
    line-height: 6em;
}
.color div{
    display:none;
}
.color div i{
    display:inline-flex;
}
.color:hover{
    cursor:pointer;
}
.color:hover div{
    width:auto;
    position: absolute;
    margin-top: 2em;
    padding: 0.5em;
    background: #2c3e50;
    color:white;
    display: block;
    line-height: 1em;
    z-index:1001;
    margin-left: 2em;
    min-width: 10em;
}
#colors_{
    margin-left: -6em;
    text-align: center;
    min-height: 26em;
}

.bank{
    font-size: 2em;
    position: absolute;
    top: 6em;
    text-align: center;
    display: block;
    width: 100%;
    z-index:-1;
}
.bank span{
    font-size:0.5em;
}


@media(min-width:1025px){
    .color:hover div{
        min-width: 10em;
    }
}

@media(max-width:1024px) {
    .color div {
        background: rgba(0,0,0,0.6);
        display: inline-flex;
        font-size: 0.6em;
        width: auto;
        line-height: initial;
        padding: 1em;
        border-radius: 0.5em;
        position: relative;
        z-index: 1002;

    }
    .color div i{
        display: none;
    }
    .color:hover div{
        background: rgba(0,0,0,0.6);
        display: inline-flex;
        font-size: 0.6em;
        width: auto;
        line-height: initial;
        padding: 1em;
        border-radius: 0.5em;
        position: relative;
        z-index: 1002;
        margin-top: auto;
        margin-left: 2em;
    }
}

#red{
    background-color: #ff6857;
    margin-top: 16.2em;
    margin-left: -6em;
    position: absolute;
}
#orange{
    background-color: #FFB153;
    position: absolute;
    margin-top: 10em;
    margin-left: -9em;
}
#yellow{
    background-color: #ffdf0e;
    position: absolute;
    margin-top: 20em;
    margin-left: 0px;
}
#green{
    background-color: #97CC1B;
    position: absolute;
    margin-top: 3.8em;
    margin-left: 6em;
}
#cyan{
    background-color: #1AD0FF;
    position: absolute;
    margin-top: 10em;
    margin-left: 9em;
}
#blue{
    background-color: #0080FF;
    position: absolute;
    margin-top: 16.2em;
    margin-left: 6em;
}
#violet{
    background-color: #8000FF;
    position: absolute;
    margin-top: 3.8em;
    margin-left: -6em;
}
#lucky{
    background:url(/images/leprecon.jpg) no-repeat;
    background-size: contain;
    position: absolute;
    margin-top:0px;

}

/*Current Bets*/
#bets th,td{
border:1px solid #cbcdd6;padding:5px;}

.unreg #myTabContent .tab-pane, .unreg #myTabContent .tab-pane label{
    background-color: #2c3e50;
    color:white;
    padding:15px;
    font-weight: 300;
}

.unreg #myTabs li a{
    color:white;
    background-color: #18bc9c;
}

.unreg #myTabs .active a{
    color:#18bc9c;
    background-color: white;
}

.unreg #myTabContent .tab-pane{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

preloader{
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: transparent;
    cursor: wait;
    z-index:9999;
}